.login__signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 358px;

  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

}

.login__signup-container :first-of-type{
  margin-right: 7px;
}